

/*slider*/
.position-absolute {
    position: absolute!important;
}

.hero-text h2 {
    margin-bottom: 50px;
}

.hero-text .hero {
    position: relative;
}

.hero-text .hero .hero-slide a:hover span {
    color: #033a71;
}

.hero .hero-slide img {
    /*width: 100%;*/
    /*height: auto;*/
    /*object-fit: cover;*/
    /*object-position: top center;*/
}

.hero .hero-slide .header-content {
    bottom: 10%;
    margin-left: 8rem;
    max-width: 550px;
    width: 100%;
    padding: 2rem;
}

.slide-content {
    padding: 10px 20px 10px 0;
}

.slide-content .h1 {
    font-size: 62px
}

.btn-primary {
    background-color: #5302FE;
    border: #111;
    border-radius: 0;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}

.slick-active .slide-content {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;
    width: 100%;
    padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    width: auto;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.slick-dots li button::before {
    font-size: 18px;
    color: #fff;
    opacity: 1;
}

.slick-active button {
    background: #d60e96;
}
.hero {
    height: inherit;
}
.slick-list {
    height: inherit;
}
.slick-track {
    height: inherit;
}

.slider-home {
    height: 360px;
}
.slider-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-home {
    position: relative;
    width: 100%;
    height: 244px;
    padding: 0;
    background-color: #003853;
}

/* intro */

.main-intro-content {
    margin: 0 auto;
}
.main-intro-content-title {
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: 1.2px;
    font-weight: 300;
    color: #0a0a0a;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.main-intro-content-description p {
    margin-bottom: 24px;
    /* font-family: "sweet-sans-pro",sans-serif; */
    font-size: .9375rem;
    font-weight: 300;
    line-height: 26px;
    color: #0a0a0a;
    letter-spacing: .6px;
}
.main-intro-img {
    display: flex;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    line-height: 0;
}
.mb-order-1{
    order: 1;
}
.mb-order-2{
    order: 2;
}
@media (max-width: 768px) {
    .hero-text .hero .hero-slide a {
        padding-top: 0.8rem;
    }


    .hero-text .hero .hero-slide a span {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    .hero .hero-slide .header-content {
        left: 0%;
        -webkit-transform: translateX(-0%);
        transform: translateX(-0%);
        margin: 0 auto;
    }
    #home-contact .home-contact_from{
        padding: 5%;
    }
    .home_contact_button_icon img{
        width: 45px;
    }
    section#home-contact{
        padding-left: 5%;
        padding-right: 5%;
    }
    #home-contact .home_contact_button_link{
        padding-right: 5%;
        padding-left: 5%;
    }
}
/*Slider*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.home-offers_header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 0 36px;
}
.home-offers_header_left {
    max-width: 436px;
    padding: 0 24px;
}
.home-offers_header_left_title {
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: 1.2px;
}

.home-offers_header_right {
    margin-top: 24px;
    padding: 0 24px;
}

p.offers-slider-title {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-top: 16px;
}

section#home-room {
    margin-top: 72px;
    margin-bottom: 150px;
    padding: 30px 0 0;
}
.home-rooms-row{
    position: relative;
}
.home-rooms-row:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -30px;
    left: 0;
    width: auto;
    height: auto;
    content: '';
    z-index: -1;
    background-color: #b7c1b9;
}

.home-room_left {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 40px;
    padding: 0;
}
.home-room_left_top {
    margin-bottom: 20px;
    line-height: 36px;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
}
.home-room_right {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0 24px;
}
.home-room_right_intro_title {
    font-size: 26px;
    letter-spacing: .8px;
    font-weight: 500;
    line-height: 38px;
    color: #0a0a0a;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home-room_right_intro_decs {
    margin-bottom: 24px;
    font-family: "sweet-sans-pro",sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 26px;
    color: #0a0a0a;
    letter-spacing: .6px;
}
.btn.btn--primary {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    overflow: hidden;
    font-family: "sweet-sans-pro",sans-serif;
    font-size: .9375rem;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #b7c1b9;
    border: 0;
    border-radius: 0;
}
.btn--primary span {
    position: relative;
    z-index: 1;
}
.btn--primary:hover, .btn--primary:focus, .btn--primary:active {
    color: #0a0a0a !important;
    text-decoration: none;
    background-color: #b7c1b9 !important;
    border: inherit !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.btn--primary:hover:before, .btn--primary:focus:before, .btn--primary:active:before {
    transform: translate3d(100%, 0, 0);
}
.btn--primary:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: -10%;
    width: 120%;
    height: 100%;
    content: '';
    background: #0a0a0a;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transform: skew(30deg);
}

#home-amenities .swiper-slide {
    transition: all .3s;
    width: 20%;
    /*height: 500px;*/
    align-items: flex-end;
    background-color: #003853;
}
#home-amenities  .offers-slider-title {
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 16px;
    font-size: .9375rem;
    letter-spacing: .6px;
    color: #fff;
    text-align: left;
}
section#home-amenities {
    margin-top: 72px;
    padding: 72px 0;
    background-color: #003853;
}
.home-amenities_content {
    margin: auto;
}
.home-amenities_overline {
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    font-size: .9375rem;
    letter-spacing: .6px;
    margin-bottom: 6px;
}
.home-amenities_title {
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: .8px;
    margin-bottom: 24px;
}
.home-amenities_decs {
    margin-bottom: 24px;
    font-size: .9375rem;
    font-weight: 100;
    line-height: 26px;
    color: #fff;
    letter-spacing: .6px;
}

#home-amenities .swiper-slide img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
#home-amenities .swiper-slide .content{
    height: 50%;
    transition: all .3s;
}
#home-amenities .swiper-slide.swiper-slide-active .content{
    height: 100%;
    transition: all .3s;
}
#home-amenities .swiper-slide.swiper-slide-prev .content{
    height: 100%;
    transition: all .3s;
}
#home-amenities .swiper-slide.swiper-slide-active ~ .swiper-slide-next .content{
    height: 70%;
    transition: all .3s;
}
@media (max-width: 768px){
    .home-rooms-row .d-flex{
        flex-direction: column;
    }
    .home-rooms-row{
        padding: 0 15px;
    }
    section#home-room {
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
    }
    section#home-amenities {
        margin-top: 50px;
        padding: 50px 0;
        /* background-color: #c4a559; */
        background-color: #2e2a3b;
    }
    section#home-attractions {
        margin: auto;
        max-width: 1088px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    section#home-contact{
        margin-top: 0;
    }
}

section#home-attractions {
    margin: auto;
    max-width: 1088px;
    margin-top: 72px;
    margin-bottom: 72px;
}
.home-attractions_text {
    margin: auto 0;
}
.home-attractions_overline {
    font-size: .9375rem;
    letter-spacing: .6px;
    font-weight: 400;
    line-height: 26px;
    color: #003853;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.home-attractions_title p {
    font-weight: 300;
    color: #0a0a0a;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: .8px;
}
.home-attractions_intro {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 750px;
    margin-top: 12px;
}
.home-attractions_intro_content p {
    margin-bottom: 24px;
    font-family: "sweet-sans-pro",sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 26px;
    color: #0a0a0a;
    letter-spacing: .6px;
}

section#home-contact {
    margin-top: 30px;
    background-image: url("../images/web-slider-99.jpg");
    padding: 100px 40px;
}
.home-contact_from {
    position: relative;
    margin: auto;
    padding: 40px 100px;
    background-color: rgba(255,255,255,.9);
}

.home_contact_button_icon {
    background: #213b57;
    padding: 4px 4px;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.home-contact_line {
    border-bottom: 1px solid #5c8fc0;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100px;
}
.home-contact_title {
    text-align: center;
    padding-bottom: 18px;
    letter-spacing: 4px;
    font-size: 13px;
    margin-bottom: 0px;
}
.home_contact_button_link {
    background: #213b57;
    padding: 6px 40px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 768px){

    .home-attractions_intro {
        margin-left: 96px;
        margin-top: 36px;
    }
    .slider-home  {
        height: 720px;
    }
    .main-intro-content{
        max-width: 412px;
    }
    .main-intro-img{
        width: auto;
        max-width: 520px;
        height: auto;
        min-height: 310px;
        max-height: 450px;
        margin: 0 0 0 auto;
        overflow: hidden;
    }

    .home-offers_header_right {
        margin-top: 0;
        margin-left: auto;
        padding: 0 24px 0 12px;
    }
    .home-attractions_img {
        flex: 0 0 30%;
    }
    .home-attractions_text {
        flex: 0 0 40%;
    }
}
@media (max-width: 992px){
    .main {
        margin-top: 65px;
    }
}
@media (min-width: 992px){
    .home-attractions_intro_content {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
        padding: 0 12px;
    }
    #home-amenities .swiper-slide-active {
        width: 41% !important;
    }
    #home-amenities .swiper-slide-active ~ .swiper-slide-next{
        width: 31% !important;
    }
    #home-amenities .swiper-slide {
        transition: all .3s;
        width: 20%;
        height: 500px;
        align-items: flex-end;
    }

    .home-offers_header {
        margin-left: 96px;
    }
    .home-room_left {
        flex: 0 0 62.5%;
        max-width: 62.5%;
        margin-bottom: 0;
        padding: 0 24px 0 0;
    }
    .home-room_right {
        flex: 0 0 37.5%;
        max-width: 37.5%;
        max-width: 470px;
        padding: 30px 50px 0;
        margin: auto;
    }

    .home-rooms-row:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -50px;
        left: 0;
        width: auto;
        height: auto;
        content: '';
        left: 45%;
    }

}

@media (min-width: 1200px){
    .slider-home {
        height: calc(100vh - 96px);
    }
}
